<h1>Yeah boi </h1>

<% flash.each do |key, value| %>
  <p><%= value %></p>
<% end %>
    
<p>Session User ID: <%= session[:user_id] %></p>
<p>Session Access Token: <%= session[:access_token] %></p>

<%= link_to "Sign in", signin_path %>

<% if user_signed_in? %>
  <p><%= current_user.email %></p>
  <p><%= show_free_busy %></p>
  <p><%= link_to "Sign out", signout_path %></p>
<% end %>