<div id="landing-page-holder" class="container center-align">
  <%= image_tag("kala_logo.png", id: "kala-logo") %>
  <div class="section">
    <section id="slogan">
      Posing yoga classes around your <span>kala</span>nder<br>to help you find
      the best fit for your lifestyle
     </section>
  </div>
  <a id="login-button" class="btn waves-effect waves-light" href="/login"><i class="fa fa-google left material-icons" aria-hidden="true"></i>Login with Google</a>
  <% if current_user %>
    <p>Session User ID: <%= session[:user_id] %></p>
    <p>Session Access Token: <%= session[:access_token] %></p>
    <p>Session User Email: <%= current_user.email %></p>
    <%= image_tag(current_user.profile_picture) %>
  <% end %>
</div>